<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
      
    </startup>
          <appSettings>
            <add key="conStr" value="Server=DESKTOP-GI5UP23\SQLEXPRESS;Database=SistemiShitjes;Trusted_Connection=True;"/>
            <add key="conStr1" value="Server=DESKTOP-2IE58NH\SQLEXPRESS;Database=SistemiShitjes;Trusted_Connection=True;"/>
            <add key="conStr2" value="Data Source=SQL6001.SmarterASP.NET;Initial Catalog=DB_A1F690_Kisamava;User Id=DB_A1F690_Kisamava_admin;Password=fuckem123;" />
          </appSettings>
</configuration>